.reference-input {
	position: fixed;
		left: 0;
		right: 0;
		top: 1em;

	@media ( min-width: 900px ) {
		margin-left: 320px;
	}

	form {
		text-align: center;
		input {
			border: 1px solid rgba( 0, 0, 0, .2 );
			font-size: 2em;
			padding: 3px;
			text-align: center;
		}
	}
}
