.reference-selector {
	.book {
		line-height: 2em;
		position: relative;
		text-indent: 0.5em;
		button {
			display: none;
			position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
		}
		&.active {
			background: lightblue;
			button {
				background: darken( $highlight-color, 10% );
				color: #fff;
			}
		}
		&.touched {
			button {
				display: block;
			}
		}
	}
}