.reference {
	line-height: 1.4em;
	margin: 0 auto;
	//max-width: 700px;
	padding: 0 0 $tray-height;
	text-align: left;

	@media ( min-width: 900px ) {
		margin-left: 320px;
	}


	h1 {
		line-height: 2em;
	}

	.chapter {
		ol {
			list-style: none;
			li {
				display: flex;
				margin: 0 auto;
				max-width: 960px;
			}
		}
	}

	.columns {
		padding: 0 1em;
		width: 240px;
	}

	&.columns-2 .columns {
		padding: 0 2%;
		width: 45%;
	}

	.word {
		cursor: pointer;
		margin: 0 -2px;
		padding: 0 2px;
		white-space: nowrap;
	}

	.dvnNm {
		text-transform: uppercase;
	}

	.sync-checkbox {
		position: fixed;
			left: 0;
	}

	.verse__number {
		color: #999;
	}

	.hebrew {
		direction: rtl;
		font-family: 'Times New Roman', Times serif;
		font-size: 140%;
		line-height: 1em;
		text-align: right;

		.verse__number {
			font-size: 80%;
		}
	}
}

.verse.current {
	background: lighten( lightblue, 15% );
}