.tray {
	background: rgba( 255, 255, 255, 0.9 );
	box-shadow: 0 0 4px 0 rgba( 0, 0, 0, 0.4 );
	position: fixed;
		bottom: 0;
	width: 100%;

	button {
		background: transparent;
		color: #000;
		height: $tray-height;
		width: 20%;
		.text {
			display: none;
		}

		&.open {
			background: lightblue;
		}
	}
}

.tray-targets {
	.tray-target {
		background: rgba( 255, 255, 255, 0.9 );
		box-shadow: 0 0 4px 0 rgba( 0, 0, 0, 0.4 );
		overflow: scroll;
		position: fixed;
			bottom: $tray-height;
			left: -400px;
			top: 0;
		transition-property: left, right;
		transition-duration: 0.2s;
		width: 100%;

		@media ( min-width: 320px ) {
			max-width: 320px;
		}

		@media ( min-width: 900px ) {
			left: 0;

			&.open {
				z-index: 10;
			}
		}

		&.open {
			left: 0;
		}
	}
}