.word-details {
	header {
		font-size: 2em;
		position: relative;
		.remove {
			color: #fff;
			position: absolute;
				top: 5px;
				right: 20px;
			width: 25px;
		}
	}
	.word-data {
		display: none;
		padding: .5em;

		&.open {
			display: block;
		}

		ol {
			list-style-position: inside;
		}
	}
}