$tray-height: 40px;

* {
	border: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-weight: 100;
}

button, input {
	font-size: 100%;
	font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	text-align: center;
}

@import 'reference';
@import 'referenceInput';
@import 'referenceSelector';
@import 'tray';