$tray-height: 40px;
$highlight-color: hsla( 195, 53%, 79%, 1 );

* {
	border: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial;
}

button, input {
	font-size: 100%;
	font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
	text-align: center;
}

.splash {
	text-align: center;
}

@import 'reference';
@import 'referenceInput';
@import 'referenceSelector';
@import 'tray';
@import 'wordDetails';